.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    

}
.app__body {
    display: flex;
    height: 100vh !important;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.title > h1 {
    margin-bottom: 20px;
}

.title > input {
    padding: 10px;
    color: grey;
    border: 1px solid rgb(228, 40, 40);
    margin-bottom: 20px;
    border-radius: 5px;

    
}
input {
    width: 350px;
    padding: 10px;
    outline-width: 0;
    border-inline: none;
    border: 0;
    border-bottom: 1px solid whitesmoke;
    
}

.description__body{
    padding-right: 150px}

    button{
        width: 250px;
        margin-left: 40px;
        height:30px;
        background-color: rgb(245, 200, 77);
        border: 0;
        border-inline: 0;
    }